# Jupyter notebooks
.ipynb_checkpoints/

# Python-related
__pycache__/
.pytest_cache
.mypy_cache/
.coverage*
.venv
dist/
.prisma-cache/

# Lean dependencies
mathlib4/
repl/

# Environment variables
.env

# PostgreSQL data
.data/
